.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 0px !important;
	background-color: #fff;
	border-left: 1px solid #e7e7e7;
}

.sidebar {
    padding: 0px !important;
	overflow-y: hidden !important;
	width: 250px;
	margin-top: 51px;
}

.row {
    background-color: #f8f8f8;
}

.form-control {
    display: block;
    width: 500px;
}

.navbar-brand {
    height: 58px;
    padding: 19px 19px;
}

.navbar {
    margin-bottom: 20px;
}

.col-md-offset-2 {
	margin-left: 250px;
    margin-right: 550px;
	min-height: 568px;
}

.panel-primary {
    border-color: #2c3e50;
    width: 900px;
}

body {
    background-color: #f8f8f8;
}